<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CAPMaker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <CAPMaker.Properties.Settings>
            <setting name="Identifier" serializeAs="String">
                <value>示警代碼</value>
            </setting>
            <setting name="Sender" serializeAs="String">
                <value>示警發送者代碼</value>
            </setting>
            <setting name="Event" serializeAs="String">
                <value>事件類型名稱</value>
            </setting>
            <setting name="EventCode" serializeAs="String">
                <value>事件代碼</value>
            </setting>
            <setting name="SenderName" serializeAs="String">
                <value>發送者名稱</value>
            </setting>
            <setting name="Headline" serializeAs="String">
                <value>事件標題 </value>
            </setting>
            <setting name="Description" serializeAs="String">
                <value>描述事件內容</value>
            </setting>
            <setting name="Web" serializeAs="String">
                <value>包含事件之額外訊息 之網址 </value>
            </setting>
            <setting name="Areadesc" serializeAs="String">
                <value>影響區域描述</value>
            </setting>
            <setting name="Circle" serializeAs="String">
                <value>24.20231,121.4892 5.0</value>
            </setting>
            <setting name="Polygon" serializeAs="String">
                <value>38.47,-120.14 38.34,-119.95 38.52,-119.74 38.62,-119.89 38.47,-120.14</value>
            </setting>
            <setting name="IdentifierFormat" serializeAs="String">
                <value>{0}_{1:yyyyMMddHHmmss}</value>
            </setting>
        </CAPMaker.Properties.Settings>
    </userSettings>
</configuration>